.App {
  text-align: center;
}

.player-card {
  max-width: 300px;
  margin: 50px;
}

.player-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  border-width: 1px solid black;
}

input,
button {
  display: block;
  margin: 10px auto;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
